@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;

  src: url('../fonts/hinted-HelveticaNeueCyr-Black.eot');
  src: local('../fonts/HelveticaNeueCyr-Black'),
  url('../fonts/hinted-HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('../fonts/hinted-HelveticaNeueCyr-Black.woff') format('woff'),
  url('../fonts/hinted-HelveticaNeueCyr-Black.ttf') format('truetype'),
  url('../fonts/hinted-HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
}
