@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

@import 'helvetica';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}
header {
  position: relative;

  margin-bottom: 14px;
  padding-top: 18px;
  &:before {
    position: absolute;
    top: 112px;
    right: 0;
    left: 0;

    height: 147px;

    background-image: url(../img/navbar-bg.png);
    background-repeat: no-repeat;
    background-position: center;

    @extend .dblock;
  }
  .header--logo {
    font-family: 'HelveticaNeueCyr';
    font-size: 30px;
    font-weight: 900;

    margin-top: 0;
    padding-left: 60px;

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    a {
      text-decoration: none;

      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      font-size: 11px;
      font-weight: 400;

      display: block;

      letter-spacing: .02em;
    }
  }
  .header--search {
    padding-top: 12px;
    .super-button {
      font-size: 20px;
      line-height: 2.1;

      display: none;

      width: 50px;
      height: 44px;

      text-align: center;

      color: #fff;
      border-bottom: 2px solid #c67e0c;
      border-radius: 10px;
      background-color: #f19b14;
    }
  }
  .header--search-form {
    position: relative;

    width: 430px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    .header--search-input {
      width: 100%;
      height: 27px;

      border: 1px solid #dedede;
      border-radius: 4px;
    }
    .header--search-submit {
      line-height: 1;

      position: absolute;
      z-index: 1;
      top: 0;
      right: -14px;
      bottom: 0;

      width: 50px;
      padding-top: 8px;

      border: 0;
      border-bottom: 2px solid $orange-black;
      border-radius: 0 15% 15% 0;
      background-color: $orange;
      background-image: url(../img/header--search-submit.png);
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        border-bottom: 2px solid darken($orange-black, 10%);
        background-color: darken($orange, 10%);
      }
    }
  }
  .header--advice {
    position: relative;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;

    border-radius: 3%;
    background-color: $gray;
    &:before {
      position: absolute;
      z-index: 1;
      top: -14px;
      left: 13px;

      width: 59px;
      height: 81px;

      background-image: url(../img/header--advice.png);
      background-repeat: no-repeat;
      background-position: center;

      @extend .dblock;
    }
    h5 {
      font-family: 'PT Serif';
      font-size: 18px;
      font-weight: bold;
      font-style: italic;

      margin: 0;
    }
    p {
      margin: 0;
    }
    .header--advice-name {
      font-size: 16px;
    }
    .header--advice-descr {
      font-size: 12px;
    }
  }
}
.sidebar {
  .widget {
    margin-bottom: 40px;
    h6 {
      font-size: 25px;
      font-weight: bold;

      margin-bottom: 20px;

      color: #29272a;
    }
    &.widget_nav_menu {
      .widget-title {
        font-size: 18px;
        font-weight: bold;

        display: flex;

        height: 50px;
        margin-top: 13px;
        margin-bottom: 0;
        padding-left: 50px;

        text-transform: uppercase;

        color: #fff;
        border-bottom: none;
        background-color: #f19b14;
        box-shadow: 4px 0 15px -7px #333,-3px 0 5px -4px #333;

        align-items: center;
        &:after {
          position: absolute;
          z-index: 1;
          top: 28px;
          left: 12%;

          width: 20px;
          height: 20px;

          background-image: url(../img/nav-tool.png);
          background-repeat: no-repeat;
          background-position: center;

          @extend .dblock;
        }
      }
      ul {
        border-bottom: 5px solid #f1c00e;
        li {
          display: flex;

          height: 50px;
          padding-left: 20px;

          border-bottom: 1px solid #fff;
          background-color: #ece8e7;

          align-items: center;
          &:hover {
            background-color: #f6f4f3;
          }
          &:before {
            position: absolute;
            right: 7%;

            @include triangle(10px 7px, #a6a5a4 lavender, right);
          }
          a {
            font-size: 16px;

            text-decoration: none;

            color: $black;
          }
        }
      }
    }
    &.widget-last-news {
      .last-news {
        padding-top: 20px;
        padding-bottom: 10px;

        border-bottom: 1px dashed #f0f0ef;
        &:hover {
          .category-block-img {
            &:after {
              opacity: 1;
            }
          }
          p {
            color: #61b2f0;
          }
        }
        &:last-child {
          border-bottom: 1px solid #f0f0ef;
        }
        a {
          display: block;

          width: 100%;
          height: 100%;
          &:hover {
            text-decoration: none;
          }
        }
        .category-block-img {
          position: relative;

          display: block;
          float: left;
          overflow: hidden;

          width: 115px;
          height: 90px;
          margin-right: 15px;

          border-left: 10px solid #f3c20e;
          img {
            min-width: 100%;
            min-height: 100%;

            @extend .align-center;
          }
          &:after {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            cursor: pointer;
            transition: all .5s;

            opacity: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, .35);

            @extend .dblock;
          }
        }
        p {
          font-size: 15px;

          color: #60a4de;
        }
      }
    }
    &.widget_polls-widget {
      position: relative;

      padding: 190px 15px 15px;

      border: 8px solid #f3c20e;
      &:before {
        position: absolute;
        top: -33px;
        right: 0;
        left: 0;

        height: 230px;

        background-image: url(../img/widget_polls-widget.png);
        background-repeat: no-repeat;
        background-position: center top;

        @extend .dblock;
      }
      .widget-title {
        font-size: 16px;
        font-weight: normal;

        margin-bottom: 15px;

        text-align: center;

        color: #29272a;
      }
      h5 {
        font-size: 32px;
        font-weight: normal;

        margin-bottom: 20px;

        text-align: center;
      }
      ul {
        li {
          font-size: 15px;
          font-weight: normal;

          position: relative;

          display: block;

          margin-bottom: 10px;
          padding: 0;
          span {
            font-weight: bold;
            font-style: italic;
          }
          &.withpoll {
            padding-left: 20px;
            input {
              position: absolute;
              top: 4px;
              left: 0;

              border-radius: 50%;
            }
          }
        }
      }
      input {
        &.Buttons {
          font-size: 15px;
          font-weight: bold;

          display: block;

          width: 95%;
          margin-right: 10px;
          margin-left: 10px;

          text-align: center;
          text-transform: uppercase;

          border: 0;
          border-bottom: 3px solid #2f76ae;
          background-color: #3b94d9;
          &:hover {
            border-color: darken(#2f76ae, 10%);
            background-color: darken(#3b94d9, 10%);
          }
        }
      }
    }
  }
}
.main-category-blocks {
  .nav-container {
    padding-top: 15px;
    .close-mobile-menu {
      display: none;
    }
    .nav-bg {
      position: absolute;
      z-index: -1;
      right: 0;
      left: 0;
    }
    .navigation {
      .headnav {
        display: flex;

        height: 48px;
        margin-bottom: 0;

        align-items: center;
        li {
          line-height: 3;

          display: inline-block;

          height: 100%;
          padding: 0 15px;

          list-style-type: none;
          a {
            font-weight: bold;

            display: block;

            height: 100%;

            text-transform: uppercase;

            color: $black;
            &:hover {
              text-decoration: none;

              opacity: .8;
              background-color: $yellow-hover;
            }
          }
        }
      }
    }
  }
  .content-title {
    font-size: 36px;
    font-weight: bold;

    padding-top: 44px;

    color: $black;
    a {
      float: right;

      padding-right: 5px;
      &:hover {
        text-decoration: none;
      }
      span {
        font-size: 18px;

        display: flex;

        width: 30px;
        height: 30px;

        color: $black;
        border: 1px solid #dedede;

        align-items: center;
        justify-content: center;
        &:hover {
          text-decoration: none;

          color: $black;
          border: 1px solid $orange;
        }
      }
    }
  }
  .category-list-wrapper {
    li {
      font-size: 0;
      ul {
        margin-bottom: 40px;
        padding: 20px;

        background-color: #f8f8f8;

        @extend .clearfix;
        li {
          float: left;

          width: 33%;
          margin-bottom: 10px;
          a {
            font-size: 16px;

            color: #3b94d9;
            &:before {
              position: relative;
              top: -1px;

              display: inline-block;

              width: 11px;
              height: 11px;
              margin-right: 5px;

              content: '';

              background-image: url(../img/category-list-wrapper.png);
              background-repeat: no-repeat;
              background-position: center;
            }
            &:hover {
              &:before {
                color: $orange;
                background-image: url(../img/category-list-wrapper-h.png);
              }
            }
          }
        }
      }
    }
  }
  .category-block {
    height: 340px;
    .category-block-img {
      position: relative;
      z-index: 0;

      display: block;
      overflow: hidden;

      height: 190px;
      img {
        z-index: 0;

        min-width: 100%;
        min-height: 100%;

        @extend .align-center;
      }
      span {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;

        padding: 5px;

        cursor: pointer;
        transition: all .5s;

        opacity: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .35);

        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    h5 {
      font-size: 14px;
      font-weight: bold;

      margin: 0;
      padding: 10px 0;

      color: $orange;
    }
    p {
      font-size: 20px;
      font-weight: 400;

      height: 95px;
      margin: 0;
      margin-bottom: 10px;

      color: $black;
    }
    &:hover {
      a {
        text-decoration: none;
      }
      .category-block-img {
        span {
          opacity: 1;
        }
      }
      h5 {
        color: $black;
      }
      p {
        color: #4c9bda;
      }
    }
    &:nth-child(even) {
      text-align: center;
      h5,
      p {
        background-color: #f0f0ef;
      }
    }
    .title-desc {
      /* margin-top: -10px; */
      h5 {
        padding-top: 10px;

        background-color: #f0f0ef;
      }
    }
  }
  .child-even {
    &:nth-child(even) {
      text-align: center;
    }
    &:nth-child(odd) {
      text-align: left;
    }
  }
  .row-category {
    padding-top: 50px;
  }
  .cat-title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 30px;

    color: #29272a;
    a {
      text-decoration: none;

      color: #29272a;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .pagination-block {
    height: 55px;
    margin-bottom: 35px;
    padding-top: 20px;

    border-top: 1px solid #f0f0ef;

    @extend .clearfix;
    .pagination-buttons {
      font-size: 13px;

      display: inline-block;
      float: right;

      width: 50%;
      height: 30px;

      text-align: right;
      a,
      span {
        font-size: 14px;

        display: inline-block;

        height: 30px;
        margin-left: 6px;
        padding: 6px 10px 0;

        text-align: center;

        color: #333;
        border: 1px solid #dedede;
        &.current {
          color: #787878;
        }
      }
    }
    .pagination-count {
      float: left;

      width: 50%;
    }
  }
  .tag-block {
    padding-top: 19px;
    .tag-cloud {
      padding: 25px;

      text-align: justify;

      border: 1px dashed #dedede;
      background-color: #f8f8f8;
      p {
        padding-top: 20px;
      }
      h6 {
        font-size: 16px;

        display: inline;

        padding-left: 8px;
        i {
          font-size: 16px;

          margin-right: 10px;

          color: $orange;
        }
      }
      a {
        font-size: 16px;

        display: none;

        margin-bottom: 4px;
        padding: 2px 3px;

        color: #3b94d9;
        &:hover {
          color: #91c6f2;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(16),
        &:nth-child(17),
        &:nth-child(18),
        &:nth-child(19) {
          display: inline-block;
        }
      }
    }
    .tag-show {
      font-size: 14px;

      position: relative;

      display: block;

      padding-top: 10px;
      padding-left: 5px;

      cursor: pointer;

      color: #787878;
      &:before {
        position: absolute;
        top: 60%;
        left: 120px;

        @extend .dblock;
        @include triangle(8px 4px, #787878, down);
      }
    }
  }
  .content-block {
    padding-top: 53px;
    padding-bottom: 40px;
    h6 {
      font-size: 25px;

      text-transform: uppercase;
      span {
        font-weight: bold;

        text-transform: none;
      }
    }
    h5 {
      font-size: 18px;
      font-weight: bold;

      padding-top: 35px;
    }
    p {
      font-size: 16px;

      text-align: justify;
    }
    .category-text {
      font-weight: bold;

      text-transform: capitalize;
    }
  }
}
.row-with-divide {
  padding-bottom: 5px;

  background-image: url(../img/divider.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.breadcrumbs {
  font-size: 13px;

  margin-bottom: 20px;
  padding-top: 53px;

  color: #3b94d9;
  a {
    font-weight: 400;

    color: #3b94d9;
  }
}


.row-article {
  .single-title {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 22px;
  }
  span {
    &.date {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.6;

      display: inline-block;

      margin-bottom: 20px;
      margin-left: 21px;
      padding: 0 14px;

      color: #fff;
      background-color: #f9593a;
    }
  }
  article {
    p {
      font-size: 16px;
      font-weight: normal;
      line-height: 18px;

      margin-bottom: 20px;
    }
    img {
      margin-bottom: 25px;
    }
    ul,
    ol {
      margin-bottom: 20px;
      padding: 0 0 0 15px;
      li {
        position: relative;

        margin-bottom: 20px;
        padding: 0 0 0 25px;
        &:before {
          position: absolute;
          top: 2px;
          left: 0;

          width: 15px;
          height: 15px;

          text-align: center;

          border-radius: 50%;

          @extend .dblock;
        }
      }
    }
    ul {
      li {
        &:before {
          content: '\f058';

          color: #f19b14;

          @extend .fa;
        }
      }
    }
    ol {
      li {
        &:before {
          font-size: 12px;
          line-height: 1.2;

          color: #fff;
          background-color: #f9593a;
        }
        &:hover {
          &:before {
            background-color: darken(#f9593a, 15%);
          }
        }
        &:nth-child(1) {
          &:before {
            content: '1';
          }
        }
        &:nth-child(2) {
          &:before {
            content: '2';
          }
        }
        &:nth-child(3) {
          &:before {
            content: '3';
          }
        }
        &:nth-child(4) {
          &:before {
            content: '4';
          }
        }
        &:nth-child(6) {
          &:before {
            content: '6';
          }
        }
        &:nth-child(7) {
          &:before {
            content: '7';
          }
        }
        &:nth-child(5) {
          &:before {
            content: '5';
          }
        }
        &:nth-child(8) {
          &:before {
            content: '8';
          }
        }
        &:nth-child(9) {
          &:before {
            content: '9';
          }
        }
        &:nth-child(10) {
          &:before {
            content: '10';
          }
        }
        &:nth-child(11) {
          &:before {
            content: '11';
          }
        }
        &:nth-child(12) {
          &:before {
            content: '12';
          }
        }
        &:nth-child(13) {
          &:before {
            content: '13';
          }
        }
        &:nth-child(14) {
          &:before {
            content: '14';
          }
        }
        &:nth-child(15) {
          &:before {
            content: '16';
          }
        }
        &:nth-child(16) {
          &:before {
            content: '16';
          }
        }
        &:nth-child(17) {
          &:before {
            content: '17';
          }
        }
      }
    }
    iframe {
      display: inline-block;

      max-width: 90%;
      margin: 0 auto 20px;
    }
    blockquote {
      font-size: 18px;
      font-weight: 400;

      position: relative;

      margin-bottom: 40px;
      padding: 60px 50px 50px 50px;

      text-align: center;

      background-color: #f8f8f8;
      background-image: url(../img/single-divider.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      p {
        font-size: 18px;
        line-height: 1;

        margin: 0;
        padding: 0;
      }
      &:before {
        position: absolute;
        top: 20px;
        left: 50%;

        width: 20px;
        margin-left: -10px;

        content: '\f10d';
        text-align: center;

        color: $orange;

        @extend .fa;
      }
    }
    table {
      margin-bottom: 40px;

      text-align: center;
      tr {
        font-size: 14px;
        font-weight: 400;
        td {
          padding: 15px;

          border: 1px solid #dedede;
        }
        &:first-child {
          font-weight: bold;
          td {
            padding: 20px;
          }
        }
        &:nth-child(even) {
          td {
            background-color: #fcfcfc;
          }
        }
      }
    }
    .article-tags {
      font-size: 16px;

      position: relative;

      padding: 20px 20px 20px 40px;

      color: #3b94d9;
      border: 1px dashed #dedede;
      background-color: #f8f8f8;
      a {
        display: inline-block;

        margin: 0 10px 0 0;

        text-decoration: none;

        color: #3b94d9;
      }
      .article-tags--title {
        font-size: 16px;

        display: inline-block;

        margin: 0 10px 0 0;

        text-transform: uppercase;

        color: #000;
      }
      &:before {
        content: '\f02b';

        color: #f19b14;

        @extend .dblock;
        @extend .fa;
      }
    }
    .rating-socials {
      @extend .clearfix;
      .post-ratings-loading {
        display: none;
      }
      .ya-share2 {
        float: right;

        width: 350px;
        height: 77px;
        padding-top: 20px;
        ul {
          display: block;

          width: 100%;

          text-align: right;
          li {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            padding: 0;
            a {
              width: 100%;
              height: 100%;
              .ya-share2__badge,
              .ya-share2__icon {
                width: 100%;
                height: 100%;
              }
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .post-ratings {
      font-size: 15px;

      float: left;

      width: 200px;
      padding: 15px 0;

      color: #29272a;
      .rating--tile {
        font-size: 16px;

        display: block;

        margin-bottom: 10px;
      }
      .reviews-count {
        font-size: 14px;

        display: inline-block;

        margin-left: 7px;

        color: #787878;
      }
      img {
        margin-bottom: 2px;
      }
    }
  }
}
#respond {
  .comment-form-url {
    display: none;
    visibility: hidden;
  }
  form {
    @extend .clearfix;
  }
}
.content-list {
  height: 150px;
  margin-bottom: 40px;
  padding: 10px 0 0 35px;

  background-color: #f8f8f8;
  h6 {
    font-size: 18px;
    font-weight: bold;

    position: relative;

    padding-left: 20px;
    &:before {
      position: absolute;
      top: -27px;
      right: 0;
      bottom: 0;
      left: -22px;

      background-image: url(../img/content-icon.png);
      background-repeat: no-repeat;

      @extend .dblock;
    }
  }
  ul {
    @extend .clearfix;
    li {
      float: left;

      width: 50%;
      padding-bottom: 10px;
      &:before {
        display: block;
        float: left;

        padding-right: 10px;

        content: '\f005';

        color: #abaeb2;
      }
      a {
        font-size: 14px;

        color: #3b94d9;
      }
      &:hover {
        &:before {
          color: $orange;
        }
        a {
          color: #61b2f0;
        }
      }
    }
  }
}
.maincont {
  .single-content {
    .content-divider-img {
      margin-top: -28px;
    }
    .after-blockquote {
      font-size: 25px;
      font-weight: bold;

      padding-top: 40px;
      padding-bottom: 20px;
    }
    p {
      font-size: 16px;
    }
    .video-img {
      padding: 40px 80px;
    }
    .after-video-block {
      padding-bottom: 30px;
      .first-title {
        font-size: 22px;
        font-weight: bold;

        padding-bottom: 20px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
      .second-title {
        font-size: 18px;
        font-weight: bold;

        padding-top: 30px;
      }
      .third-title {
        font-size: 22px;
        font-weight: bold;

        padding-top: 40px;
        padding-bottom: 20px;
      }
      ul {
        li {
          font-size: 16px;
          font-weight: 400;

          padding-top: 15px;
          &:before {
            float: left;

            padding-right: 10px;

            content: '\f058';

            color: $orange;
          }
        }
      }
    }
    .posts-by-theme {
      height: 160px;
      margin-bottom: 40px;
      padding-top: 10px;
      padding-left: 25px;

      background-color: #f8f8f8;
      background-image: url(../img/single-divider.png);
      background-repeat: no-repeat;
      background-position: 0 150px;
      h6 {
        font-size: 18px;
        font-weight: bold;
      }
      ul {
        position: relative;
        li {
          font-size: 16px;
          font-weight: 400;
          line-height: 1;

          padding-top: 15px;
          padding-left: 5px;

          color: #3b94d9;
          &:first-child {
            padding-top: 5px;
          }
          &:nth-child(2) {
            &:before {
              background-position-y: -28px;
            }
          }
          &:last-child {
            &:before {
              background-position-y: -56px;
            }
          }
          &:before {
            float: left;

            width: 15px;
            height: 15px;
            margin-right: 10px;

            background-image: url(../img/numbers.png);
            background-repeat: no-repeat;

            @extend .dblock;
          }
        }
      }
    }
    .title-underposts {
      font-size: 22px;
      font-weight: bold;

      padding-bottom: 20px;
    }
    .table-title {
      font-size: 18px;
      font-weight: bold;

      padding-top: 30px;
      padding-bottom: 20px;
    }
    .all-columns {
      font-size: 14px;
      font-weight: 400;
      line-height: 3.3;

      position: relative;

      height: 50px;
      margin-bottom: 20px;
      padding-left: 60px;

      border: 1px dashed #dedede;
      background-image: url(../img/border.png);
      background-repeat: no-repeat;
      background-position: 45px 6px;
      &:before {
        position: absolute;
        top: 11px;
        left: 11px;

        width: 25px;
        height: 25px;

        background-image: url(../img/inform.png);
        background-repeat: no-repeat;

        @extend .dblock;
      }
      &:after {
        position: absolute;
        top: 0;
        right: 38%;

        display: block;

        width: 10px;
        height: 10px;

        content: '\f07e';
      }
    }
  }
}
#toc_container {
  &.toc_white {
    position: relative;

    margin-top: 20px;
    padding: 15px 20px;

    border: 0;
    background-color: #f8f8f8;

    @extend .clearfix;
    &:before {
      position: absolute;
      top: -10px;
      left: 10px;

      width: 28px;
      height: 42px;

      background-image: url(../img/toc_list.png);
      background-repeat: no-repeat;

      @extend .dblock;
    }
    p {
      display: block;

      width: 100%;
      &.toc_title {
        font-size: 18px;
        font-weight: normal;

        margin-bottom: 15px;
        padding-left: 40px;

        text-align: left;

        color: #29272a;
      }
    }
    .toc_list {
      @extend .clearfix;
      li {
        font-size: 14px;
        line-height: 1.4;

        float: left;

        width: 50%;
        height: 40px;
        padding-left: 15px;
        &:before {
          content: '\f005';

          color: #9fa3a7;
          background-image: none;

          @extend .fa;
        }
        a {
          color: #3b94d9;
        }
        &:hover {
          a {
            text-decoration: none;

            border-bottom: 1px dotted $orange;
          }
          &:before {
            color: $orange;
          }
        }
      }
    }
  }
}
footer {
  height: 200px;

  background-color: #282828;
  .footnav {
    display: flex;

    margin-bottom: 12px;
    padding-top: 35px;
    li {
      padding: 0 15px;

      border-right: 1px solid #f4f4f4;
      &:last-child {
        border: none;
      }
      a {
        font-size: 16px;

        color: #f4f4f4;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .footer-e-mail {
    padding-left: 15px;

    color: #adadb0;
    a {
      span {
        color: #fff;
      }
    }
  }
  .footer-text {
    font-size: 13px;
    line-height: 1.8;

    height: 90px;
    padding-top: 35px;
    padding-left: 45px;

    color: #fff;
    background-image: url(../img/footer-inform.png);
    background-repeat: no-repeat;
    background-position: 1px 20px;
  }
  .footer-border {
    border-top: 1px solid grey;
    .age-limit {
      font-size: 48px;
      font-weight: bold;

      float: left;

      padding-top: 10px;
      padding-right: 15px;

      color: $orange;
    }
    .rights {
      font-size: 13px;
      line-height: 1.4;

      padding-top: 15px;

      color: #a3a3a3;
    }
    .soc-title {
      float: left;

      padding-top: 25px;

      color: #a3a3a3;

      flex: 13px;
    }
    .social {
      display: flex;

      padding-top: 15px;
      li {
        line-height: 1.8;

        width: 40px;
        height: 40px;
        margin: 0 7px;

        text-align: center;

        border-radius: 50%;
        background-color: #212121;
        &:hover {
          background-color: #4b74a5;
        }
        a {
          font-size: 22px;

          color: #fff;
        }
      }
      .arrow-up {
        margin-left: 80px;

        background-color: #535353;
        a {
          color: #fff;
        }
      }
    }
  }
}
.error-body {
  position: relative;

  background-image: url(../img/404-bg.png);
  &:before {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;

    background-image: url(../img/404-border.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
  .erroe-page {
    padding-top: 150px;
    padding-left: 440px;
    .header--logo {
      font-size: 30px;
      font-weight: 900;

      padding-left: 60px;

      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-position: left center;
      a {
        text-decoration: none;

        color: $black;
      }
      span {
        font-size: 12px;
        font-weight: normal;

        display: block;

        width: 250px;
      }
      h1 {
        font-family: 'HelveticaNeueCyr';
        font-size: 30px;

        margin-top: 0;
      }
    }
  }
  .error-title {
    font-size: 200px;
    font-weight: bold;

    text-align: center;
  }
  p {
    font-size: 18px;
    font-weight: 400;

    text-align: center;
  }
  .timer {
    p {
      font-size: 16px;
      font-weight: 400;
      .time {
        font-size: 30px;
        font-weight: bold;
      }
      .return {
        color: #3b94d9;

        flex: 16px;
      }
    }
  }
  footer {
    display: none;
  }
}
/* .archive {
  .main-category-blocks {
    &:nth-child(even) {
      text-align: center;
      h5,
      p {
        background-color: #f0f0ef;
      }
    }
     &:nth-child(odd) {
      text-align: left;
      h5,
      p {
        background-color: #fff;
      }
    }
  }
} */

/* MEDIA QUERY */
@media (max-width:2500px) {
  .maincont {
    .nav-container {
      .navigation {
        .super-menu {
          display: none;
        }
      }
    }
  }
}
@media (max-width:1200px) {
  .header--search {
    .header--search-form {
      width: 200px;
      height: 30px;
      .header--search-submit {
        right: -15px;

        height: 44px;
      }
    }
  }
}

@media (max-width:1000px) {
  header {
    &:before {
      top: 105px;
    }
  }
  .sidebar {
    .widget_text {
      text-align: center;
    }
    .widget.widget_nav_menu {
      h6 {
        margin-top: 0;
        &:after {
          top: 15px;
          left: 5%;
        }
      }
    }
    .widget-last-news {
      display: flex;
      flex-direction: column;
      h6 {
        text-align: center;
      }
    }
  }

  .header--search {
    .header--search-form {
      width: 200px;
      height: 30px;
      .header--search-submit {
        right: -15px;

        height: 44px;
      }
    }
  }
  .maincont {
    .row-with-divide {
      h6 {
        text-align: center;
      }
    }
  }
  footer {
    .footnav {
      li {
        a {
          font-size: 14px;
        }
      }
    }
    .footer-border {
      .social {
        .arrow-up {
          margin-left: 0;
        }
      }
    }
  }
}
@media (max-width:990px) {
  .main-category-blocks {
    .nav-container {
      padding-top: 0;
      .navigation {
        .headnav {
          justify-content: center;
        }
      }
    }
    .adaptive-display {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
@media (max-width:775px) {
  header {
    padding-bottom: 30px;
    .row {
      display: flex;

      justify-content: space-around;
      .header--logo {
        width: 50%;
      }
      .header--advice {
        display: none;
      }
    }
  }
}
@media (max-width:690px) {
  .main-category-blocks {
    .tag-cloud {
      height: auto;
    }
  }
  footer {
    .col-md-7 {
      display: none;
    }
    .col-md-5 {
      width: 100%;

      text-align: center;
      ul {
        display: flex;

        text-align: center;

        justify-content: center;
      }
      .footnav {
        padding-bottom: 20px;
      }
    }
    .footer-border {
      .col-md-7 {
        display: none;
      }
    }
  }
}
@media (max-width:620px) {
  .main-category-blocks {
    .nav-container {
      .navigation {
        .headnav {
          li {
            padding: 0 10px;
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width:570px) {
  .main-category-blocks {
    .nav-container {
      .navigation {
        .headnav {
          justify-content: center;
          li {
            padding: 0 5px;
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:546px) {
  header {
    padding-bottom: 15px;
  }
}
@media (max-width:530px) {
  header {
    .row {
      .header--logo {
        width: 40%;
      }
      .header--search {
        width: 60%;
      }
    }
  }
}
@media (max-width:485px) {
  header {
    padding-bottom: 30px;
    .row {
      .header--logo {
        width: 50%;
        margin-left: 10px;
        h1 {
          a {
            span {
              display: none;
            }
          }
        }
      }
      .header--search {
        .super-button {
          display: block;
          float: right;
        }
        .header--search-form {
          display: none;
        }
        .mobile-search-form {
          position: absolute;
          z-index: 1;
          top: 38px;
          left: -70px;

          display: block;
          .header--search-input {
            width: 120px;
            height: 20px;
          }
          .header--search-submit {
            right: 28px;

            display: flex;

            width: 40px;
            height: 35px;

            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .maincont {
    .nav-container {
      .close-mobile-menu--show {
        font-size: 30px;
        line-height: 1.4;

        position: fixed;
        z-index: 51;
        top: 30%;
        left: 47%;

        display: block;

        width: 40px;
        height: 40px;
        padding-right: 2px;

        text-align: center;

        opacity: .7;
        color: #fff;
        border-radius: 50%;
        background-color: #f19b14;
        &:hover {
          text-decoration: none;

          color: black;
          background-color: #c67e0c;
        }
      }
      .navigation {
        .super-menu {
          font-size: 40px;

          display: block;

          padding-bottom: 15px;

          text-align: center;
        }
        .headnav {
          display: none;
        }
        .headnav-opened {
          position: fixed;
          z-index: 15;
          top: 1px;
          right: 0;
          bottom: 0;
          left: 0;

          display: flex;
          flex-direction: column;

          height: 100%;

          background-color: rgba(0, 0, 0, .60);

          justify-content: flex-start;
          li {
            display: block;

            width: 100%;
            height: auto;
            a {
              font-size: 18px;

              color: #fff;
            }
          }
        }
      }
    }
  }
  .single {
    .row-article {
      article {
        table {
          tr {
            font-size: 10px;
          }
        }
        .rating-socials {
          .ya-share2 {
            ul {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width:380px) {
  .sidebar {
    .widget.widget_nav_menu {
      h6 {
        &:after {
          left: 10%;
        }
      }
    }
    .widget-last-news {
      display: flex;
      flex-direction: column;
      h6 {
        text-align: center;
      }
    }
  }
  .main-category-blocks {
    .tag-cloud {
      text-align: center;
    }
  }
  footer {
    .footnav {
      li {
        a {
          font-size: 12px;
        }
      }
    }
    .footer-border {
      .soc-title {
        display: none;
      }
      .social {
        .arrow-up {
          display: none;
        }
      }
    }
  }
}
/* END OF MEDIA QUERY */





@import 'fonts/font_fontawesome';
@import 'fonts/font_ptsans';
@import 'fonts/font_serif';
@import 'base64';
@import 'import/print';
