@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'super_sprite';
@import 'helvetica';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}
header {
  position: relative;

  padding-top: 32px;
  &:before {
    position: absolute;
    top: 108px;
    right: 0;
    left: 0;

    height: 147px;

    background-image: url(../img/navbar-bg.png);
    background-repeat: no-repeat;
    background-position: center;

    @extend .dblock;
  }
  .header--logo {
    font-size: 30px;
    font-weight: 900;

    padding-left: 60px;

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    a {
      text-decoration: none;

      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      font-family: 'RobotoCondensed';
      font-size: 13px;
      font-weight: 400;

      display: block;
    }
    h1 {
      font-family: 'HelveticaNeueCyr';

      margin-top: 0;
    }
  }
  .header--search-form {
    position: relative;

    width: 430px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    .header--search-input {
      width: 100%;
      height: 100%;

      border: 1px solid #dedede;
      border-radius: 4px;
    }
    .header--search-submit {
      line-height: 1;

      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;

      width: 50px;
      padding-top: 8px;

      border: 0;
      border-bottom: 2px solid $orange-black;
      border-radius: 0 15% 15% 0;
      background-color: $orange;
      i {
        font-size: 20px;

        color: #fff;
      }
    }
  }
  .header--advice {
    position: relative;

    padding-left: 80px;

    border-radius: 3%;
    background-color: $gray;
    &:before {
      position: absolute;
      z-index: 1;
      top: -14px;
      left: 13px;

      width: 59px;
      height: 81px;

      background-image: url(../img/header--advice.png);
      background-repeat: no-repeat;
      background-position: center;

      @extend .dblock;
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
      font-style: italic;

      margin: 0;
    }
    p {
      margin: 0;
    }
    .header--advice-name {
      font-size: 16px;
    }
    .header--advice-descr {
      font-size: 12px;
    }
  }
}
.main-category-blocks {
  .nav-container {
    padding-top: 15px;
    .nav-bg {
      position: absolute;
      z-index: -1;
      right: 0;
      left: 0;
    }
    .navigation {
      .headnav {
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;

        height: 48px;
        margin-bottom: 0;

        align-items: center;
        li {
          line-height: 3;

          display: inline-block;

          height: 100%;
          padding: 0 15px;

          list-style-type: none;
          a {
            font-weight: bold;

            display: block;

            height: 100%;

            text-transform: uppercase;

            color: $black;
            &:hover {
              text-decoration: none;
              opacity: .8;
              background-color: $yellow-hover;
            }
          }
        }
      }
    }
  }
  .sidebar {
    h6 {
      font-size: 18px;
      font-weight: bold;

      display: flex;

      height: 50px;
      margin-top: 13px;
      margin-bottom: 0;
      padding-left: 50px;

      text-transform: uppercase;

      color: #fff;
      border-bottom: none;
      background-color: #f19b14;
      box-shadow: 4px 0 15px -7px #333,-3px 0 5px -4px #333;

      align-items: center;
      &:after {
        position: absolute;
        z-index: 1;
        top: 28px;
        left: 12%;

        width: 20px;
        height: 20px;

        background-image: url(../img/nav-tool.png);
        background-repeat: no-repeat;
        background-position: center;

        @extend .dblock;
      }
    }
    ul {
      border-bottom: 5px solid #f1c00e;
      li {
        display: flex;

        height: 50px;
        padding-left: 20px;

        border-bottom: 1px solid #fff;
        background-color: #ece8e7;

        align-items: center;
        &:hover {
          background-color: #f6f4f3;
        }
        &:before {
          position: absolute;
          right: 7%;

          @include triangle(10px 7px, #a6a5a4 lavender, right);
        }
        a {
          font-size: 16px;

          text-decoration: none;

          color: $black;
        }
      }
    }
    .widget--cal-counter {
      padding-top: 40px;
    }
    .widget--weight-imt {
      padding-top: 30px;
    }
    .widget--pool {
      padding-top: 40px;
    }
  }
  .content-title {
    padding: 30px 10px;
    h6 {
      font-size: 36px;
      font-weight: bold;

      color: $black;
      a {
        float: right;

        padding-right: 10px;
        &:hover {
          text-decoration: none;
        }
        span {
          font-size: 18px;

          display: flex;

          width: 30px;
          height: 30px;

          color: $black;
          border: 1px solid #dedede;

          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: none;

            color: $black;
            border: 1px solid $orange;
          }
        }
      }
    }
  }
  .category-block {
    padding-bottom: 20px;
    .category-block-img {
      position: relative;
      z-index: 0;

      display: block;
      overflow: hidden;

      height: 190px;
      img {
        z-index: 0;

        min-width: 100%;
        min-height: 100%;

        @extend .align-center;
      }
      span {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;

        padding: 5px;

        cursor: pointer;
        transition: all .5s;

        opacity: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .35);

        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    &:hover {
      a {
        text-decoration: none;
      }
      .category-block-img {
        span {
          opacity: 1;
        }
      }
      h5 {
        color: $black;
      }
      p {
        color: #4c9bda;
      }
    }
    h5 {
      font-size: 14px;
      font-weight: bold;

      color: $orange;
    }
    p {
      font-size: 20px;
      font-weight: 400;

      color: $black;
    }
    &:nth-child(odd) {
      text-align: center;
    }
    .title-desc {
      margin-top: -10px;

      background-color: #f0f0ef;
      h5 {
        padding-top: 10px;
      }
    }
  }
  .tag-cloud {
    height: 200px;
    padding: 25px;

    text-align: justify;

    border: 1px dashed #dedede;
    background-color: #f8f8f8;
    p {
      padding-top: 20px;
    }
    h6 {
      font-size: 16px;

      display: inline;
      i {
        font-size: 16px;

        color: $orange;
      }
    }
    a {
      font-size: 16px;

      padding: 10px 7px;

      color: #3b94d9;
      &:hover {
        color: #91c6f2;
      }
      &:last-child {
        color: #787878;
        &:hover {
          text-decoration: none;

          color: $black;
          i {
            color: #3b94d9;
          }
        }
        i {
          color: #787878;
        }
      }
    }
  }
  .content-block {
    padding-top: 60px;
    padding-bottom: 40px;
    h6 {
      font-size: 25px;

      text-transform: uppercase;
      span {
        font-weight: bold;

        text-transform: none;
      }
    }
    .important-title {
      font-size: 18px;
      font-weight: bold;

      padding-top: 35px;
    }
    p {
      font-size: 16px;

      text-align: justify;
    }
  }
}


footer {
  height: 200px;

  background-color: #282828;
  .footnav {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding-top: 35px;
    li {
      padding: 0 15px;

      border-right: 1px solid #f4f4f4;
      &:last-child {
        border: none;
      }
      a {
        font-size: 16px;

        color: #f4f4f4;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .footer-e-mail {
    padding-left: 15px;

    color: #adadb0;
    a {
      span {
        color: #fff;
      }
    }
  }
  .footer-text {
    font-size: 13px;

    height: 90px;
    padding-top: 35px;
    padding-left: 45px;

    color: #fff;
    background-image: url(../img/footer-inform.png);
    background-repeat: no-repeat;
    background-position: 1px 20px;
  }
  .footer-border {
    border-top: 1px solid grey;
    .age-limit {
      font-size: 48px;

      float: left;

      padding-right: 15px;

      color: $orange;
    }
    .rights {
      font-size: 13px;

      padding-top: 15px;

      color: #a3a3a3;
    }
    .soc-title {
      float: left;

      padding-top: 25px;

      color: #a3a3a3;

      flex: 13px;
    }
    .social {
      display: flex;

      padding-top: 15px;
      li {
        line-height: 1.8;

        width: 40px;
        height: 40px;
        margin: 0 7px;

        text-align: center;

        border-radius: 50%;
        background-color: black;
        &:hover {
          background-color: #4b74a5;
        }
        a {
          font-size: 22px;

          color: #fff;
        }
      }
      .arrow-up {
        margin-left: 80px;

        background-color: #535353;
        a {
          color: #fff;
        }
      }
    }
  }
}

@import 'fonts/font_fontawesome';
@import 'base64';
@import 'import/print';
